/* Keep message input fixed at the bottom */
#chat-input-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
}

/* Popup menu listing private chats & group chat */
#chat-switch-menu {
    position: fixed;
    left: -250px; /* Hidden initially */
    top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgba(50, 50, 50, 0.9);
    padding: 10px;
    transition: left 0.3s ease-in-out;
    color: white;
}

.show-chat-menu {
    left: 10px !important; /* Slide in when activated */
}

/* Popup menu on the right listing online users */
#online-users-menu {
    position: fixed;
    right: -250px; /* Hidden initially */
    top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgba(50, 50, 50, 0.9);
    padding: 10px;
    transition: right 0.3s ease-in-out;
    color: white;
}

.show-users-menu {
    right: 10px !important; /* Slide in when activated */
}
